#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.mock {
    font-size: 14px;
    color: #bab759;
}

.caret {
    background-color: #bab759;
    display: inline-block;
    width: 1px;
    height: 16px;
    animation: blinking 1s infinite;
}

@keyframes blinking {
    0%,
    100% {
        background-color: transparent;
    }
    50% {
        background-color: #bab759;
    }
}
